{% load static %}

<!doctype html>
<html lang="en" data-bs-theme="dark">

<head>
    <title>
        {% block title %}{% endblock %}
    </title>

    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <link rel="icon" href="{% static 'images/logo-IT.png' %}" type="image/png">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'spotify/css/style.css' %}">

    <!-- JS -->
    <link rel="stylesheet" href="{% static 'spotify/js/main.js' %}">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <style>
        body {
            padding-top: 60px;
            background-color: black;
        }
    </style>
</head>

<body>
    {% include 'partials/header.html' %}

    {% block content %}{% endblock %}

    {% include 'partials/footer.html' %}


    <script>
        // Button Favorite Song
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".btn-favorite").forEach(button => {
                button.addEventListener("click", function () {
                    let songId = this.getAttribute("data-song-id");

                    fetch(`/song/${songId}/song-favorites/`, {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": "{{ csrf_token }}",
                            "X-Requested-With": "XMLHttpRequest"
                        }
                    })
                        .then(response => {
                            if (response.redirected) {
                                window.location.href = response.url; // Redirect to login page
                                return;
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.is_favorite) {
                                this.innerHTML = "❤️ Liked";  // Đã thích
                            } else {
                                this.innerHTML = "🤍 Like";  // Bỏ thích
                            }
                        })
                        .catch(error => console.error("Error:", error));
                });
            });
        });
    </script>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

</body>

</html>